<%# resume page %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="app.css" />
        <title>Resume</title>
    </head>
    <body>
        <div class="resumeTab">
            <%# Navbar %>
            <div class="navbar">
                    <%= link_to "Home", root_path %>
                <%= link_to "Resume", resume_path %>
                <div class="dropdown">
                    <button class="dropbtn">Projects</button>
                        <div class="dropdown-content">
                            <%= link_to "Bowerbird Simulator", bowerbird_path %>
                            <%= link_to "HerpKeeper", herpkeeper_path %>
                            <%= link_to "Fauna Favor", faunafavor_path %>
                        </div>
                </div>
                <%= link_to "Contact", contact_path %>
            </div>
            <img class="resumeImage" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/cute-moose-calf-tim-grams.jpg">
            <h1>Also available for download </h1><><a href="" download>here</a>
        </div>
    </body>