<%# projects page %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="app.css" />
        <title>HerpKeeper</title>
    </head>
    <body>
        <%# Navbar %>
        <div class="navbar">
                <%= link_to "Home", root_path %>
            <%= link_to "Resume", resume_path %>
            <div class="dropdown">
                <button class="dropbtn">Projects</button>
                    <div class="dropdown-content">
                        <%= link_to "Bowerbird Simulator", bowerbird_path %>
                        <%= link_to "HerpKeeper", herpkeeper_path %>
                        <%= link_to "Fauna Favor", faunafavor_path %>
                    </div>
            </div>
            <%= link_to "Contact", contact_path %>
        </div>
    </body>